{% macro hero(data) %}
<!-- begin hero -->
{% set c = 'c-hero' %}
<section class="{{c}} animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="{{c}}__inner">

          <div class="{{c}}__left">
            <h1 class="{{c}}__title">{{ data.title }}</h1>
            <div class="{{c}}__description">{{ data.description_html | safe }}</div>
            <div class="{{c}}__btn">
              <a href="{{ data.cta_button_link }}" class="cta-button c-button c-button--primary c-button--small">{{ data.cta_button }}</a>
              {% if data.services_button and data.services_button_link %}
              <a class="services-button c-button c-button--secondary c-button--small" href="{{ get_url(path=data.services_button_link) }}">
                {{ data.services_button }}
              </a>
              {% endif %}
              {% if data.works_button and data.works_button_link %}
              <a class="works-button c-button c-button--secondary c-button--small" href="{{ get_url(path=data.works_button_link) }}">
                <span class="circle-bg"><i class="ion ion-md-arrow-down button-arrow"></i></span> {{ data.works_button }}
              </a>
              {% endif %}
            </div>
          </div>

          <div class="{{c}}__right">
            <div class="{{c}}__image">
              {% if data.image == "/images/art/janeb13-computer-1185626 1024x683.jpeg" %}
              <!-- Image source: https://pixabay.com/photos/computer-pc-workplace-home-office-1185626/ — Pixabay user janeb13. -->
              {% endif %}
              <img loading="lazy" src="{{ get_url(path=data.image) }}" alt="{{ data.image_alt }}">
            </div>
            {% if data.image_attribution %}
            <div class="{{c}}__attribution">
              {{ data.image_attribution | safe }}
            </div>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->
{% endmacro hero %}
